html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

*, *:before, *:after {box-sizing: inherit}


/* general styles */

html{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: black;
}

body{
  font-size: 1.6rem;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

h1,
h2,
h3,
p{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 4rem;
}

button{
  cursor: pointer;
  border-radius: 5px;
}

form input{
  border-radius: 5px;
  border: 1px solid #cfbaa6;
  text-align: center;
  padding: 10px;
}

form button{
  width: 150px;
  padding: 10px;
  background-color: #cfbaa6;
}

.form-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.form-container{
  margin-top: 5rem;
}

main{
  min-height: 50vh;
  border-radius: 10px;
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: space-between; */
  margin-top: 10%;
  background-color: #f3f2f1;
}


.display-message{
  margin-left: 2.5%;
  padding-top: 5px;
}

.display-books-container{
  display: flex;
  flex-wrap: wrap;
}

.display-books{
  width: 20%;
  margin: 2.5%;
}

.book-cover{
  height: 300px;
  width: 100%;
  background-color: gray;
  border-radius: 5px;
}

.book-cover img{
  width: 100%;
  height: 100%;
}

.book-content{
  background-color: #d3d3d3;
}

.loadingBar{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.loadingBar div{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}

.loadingBar div:nth-child(1){
  animation: loadingDiv1 0.7s infinite;
}

.loadingBar div:nth-child(2){
  animation: loadingDiv2 0.7s infinite;
}

.loadingBar div:nth-child(3){
  animation: loadingDiv3 0.7s infinite;
}

/* animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingDiv1 {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes loadingDiv2 {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes loadingDiv3 {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.5);
    }
}



